.header {
  @include f-s-c;
  padding: 20px 0;
//   border-bottom: 1px solid $-border;

  &__backdrop {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    transform: translateX(120%);
    display: none;
    transition: var(--transition);
    opacity: 0;

    @include tablet {
      display: block;
    }

    &._active {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__ul {
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 9;

    @include tablet {
      z-index: 9;
      position: fixed;
      width: 85%;
      height: 100%;
      flex-direction: column;
      left: 0;
      top: 0;
      background: $-primary;
      align-items: center;
      justify-content: center;
      transform: translateX(-120%);
      transition: var(--transition);
    }

    &._active {
      transform: translateX(0);
    }

    .icon-close {
      position: absolute;
      top: 40px;
      right: 40px;
      color: $-text-white;
    }
  }

  &__a {
    font: var(--text-400-15);
    color: $-color-nav;
    transition: var(--transition);
    &:hover {
      color: $-background-sign;
    }
    @include tablet {
      color: $-text-white;
    }
  }
  .log {
    border: 1px solid $-color-nav;
    border-radius: 4px;
    padding: 7px 15px;
    transition: var(--transition);
    &:hover {
      background: $-color-nav;
    }
  }
  .sign {
    background: $-background-sign;
    transition: var(--transition);
    &:hover {
      background: $-color-nav;
    }
  }
}

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none;

  @include tablet {
    display: inline-block;
  }
}
