:root {
  --font-family: "Lexend", sans-serif;
  --transition: 0.2s all ease-in-out;

  --text-400-15: normal 400 15px / 133% var(--font-family);
}
$-primary: #0b8fed;
$-text-white: #fff;
$-border: #eee;
$-color-nav: #18181b;
$-background-sign: #4cfdc7;
