:root {
  --font-family: "Lexend", sans-serif;
  --transition: 0.2s all ease-in-out;

  --text-400-71: normal 400 71px / 127% var(--font-family);
  --text-400-51: normal 400 51px / 127% var(--font-family);
  --text-400-48: normal 400 48px / normal var(--font-family);
  --text-400-46: normal 400 46px / 104% var(--font-family);
  --text-400-40: normal 400 40px / 125% var(--font-family);
  --text-400-35: normal 400 35px / 127% var(--font-family);
  --text-400-31: normal 400 31px / 129% var(--font-family);
  --text-400-30: normal 400 30px / 127% var(--font-family);
  --text-400-24: normal 400 24px / 125% var(--font-family);
  --text-400-20: normal 400 20px / 150% var(--font-family);
  --text-400-20f: normal 400 20px / 125% var(--font-family);
  --text-400-16: normal 400 16px / normal var(--font-family);
  --text-400-16f: normal 400 16px / 150% var(--font-family);
  --text-400-15: normal 400 15px / 133% var(--font-family);
  --text-400-14: normal 400 14px / 150% var(--font-family);
  --text-400-12: normal 400 12px / normal var(--font-family);
  --text-400-11: normal 400 11px / 120% var(--font-family);
}
$-primary: #0b8fed;
$-text-white: #fff;
$-border: #eee;
$-color-nav: #18181b;
$-color-title: #000;
$-color-desc: #27272a;
$-color-btn: #01271c;
$-background-sign: #4cfdc7;
$-color-text: #71717a;
$-color-aud: #a1a1aa;
$-color-numbers: #10b981;
$-color-numbersRed: #f43f5e;
$-box-shadow-popular: 0 0 16px 0 rgba(9, 24, 26, 0.04);
$-background-vip: #fafafa;
$-background-svg: #fcfbf8;
$-background-btn: #bdffeb;